[Unit]
Description=Minecraft world backup
Requires=minecraft.service
After=minecraft.service

[Service]
Type=oneshot
User=minecraft
ExecStart=/usr/local/bin/backup-world
