[Unit]
Description=Minecraft Exporter (Homestead)
After=network.target minecraft.service

[Service]
User=minecraft
EnvironmentFile=/etc/minecraft/secrets/rcon
ExecStart=/usr/local/bin/minecraft-exporter --web.listen-address=127.0.0.1:9225 --mc.rcon-address=localhost:25575 --mc.config-path=/opt/minecraft/exporter-config.yml --mc.world=/opt/minecraft/homestead/world
Restart=always
RestartSec=10
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
