[Unit]
Description=Verify latest Minecraft backup
After=minecraft-backup.service
OnFailure=minecraft-alert@%p.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/verify-backup
